<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>注册页</title>
</head>
<body>
<form action="/register" method="post">
    <p style="margin: auto">
    <p style="text-align: center">用户名：<input type="text" name="username" /><span th:text="${tip1}"></span><br></p>
    <p style="text-align: center">密码：<input type="password" name="password" /><br></p>
    <p style="text-align: center">确认密码：<input type="password" name="password2" /><br></p>
    <span th:text="${tip2}"></span><br>
        <p style="text-align: center"><input type="submit" value="注册" ></p><a href="/fanhui" > <P style="text-align: center">返回主页 </P></a>
    </div>
</form>
</body>
</html>