<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>注册页</title>
</head>
<body>
<form action="/register" method="post">
    用户名：<input type="text" name="username" /><span th:text="${tip1}"></span><br>
    密码：<input type="password" name="password" /><br>
    确认密码：<input type="password" name="password2" /><br>
    <span th:text="${tip2}"></span><br>
    <input type="submit" value="注册"><a href="/fanhui" > 返回主页 </a>
</form>
</body>
</html>